---
# Crowdin API credentials
crowdin_project_id: '{{crowdin-project-id}}'
crowdin_api_key: '{{crowdin-project-api-key}}'
crowdin_base_url: 'https://api.crowdin.com'

# Zendesk API credentials
zendesk_base_url: 'https://{{subdomain}}.zendesk.com/api/v2/'
zendesk_username: '{{zendesk-admin-username}}'
zendesk_password: '{{zendesk-admin-password}}'

# Zendesk catogories
categories:
- zendesk_category: '{{zendesk-category-id}}'
  translations:
    -
      crowdin_language_code: '{{crowdin-two-letters-code}}'
      zendesk_locale: '{{zendesk-locale}}'
    -
      crowdin_language_code: '{{crowdin-two-letters-code}}'
      zendesk_locale: '{{zendesk-locale}}'
- zendesk_category: '{{zendesk-category-id}}'
  translations:
    -
      crowdin_language_code: '{{crowdin-two-letters-code}}'
      zendesk_locale: '{{zendesk-locale}}'
    -
      crowdin_language_code: '{{crowdin-two-letters-code}}'
      zendesk_locale: '{{zendesk-locale}}'
